/* Estilos base */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, footer{
    max-height: 14vh;
    min-height: 14vh;
}

main{
    min-height: 72vh;
    max-height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 135px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1em;
    transition: background-color 0.3s ease, border-color 0.3s ease, padding 0.3s ease;
}

button:hover {
    padding: 2%;
}